h1{
font-weight:20px;
text-align:center;
font-family:sans-serif;
padding-top:5%;
color:pink;
}
h2{
	line-height:25px;
	text-align:center;
	font-family:cursive;
	color:blue;
}

h3{
	line-height:25px;
	text-align:center;
	font-family:sans-serif;
	color:purple;
}
h4{
	line-height:25px;
	font-weight:40px;
	text-align:center;
}

.title{
	margin-right:45%;
	margin-left:45%;
	border-style: solid;
    border-width: 5px;
    text-align:center;
    font-weight:30%;
    font-size:20px;
    font-style:fantasy;
    border-color:pink;
}

.right{
	margin-left:60%;
	margin-right:15%;

    float:right;
}
.left{
	margin-left:15%;
	margin-right:60%;
}

