.title{
	margin-left:45%;
	margin-right:45%;
	text-align:center;
	font-weight:bolder;
	font-size:20px;
}

.one{
	padding-top:5%;
	padding-bottom:5%;
	font-size:12px;
	margin-left:5%;
	color:	 #ffb3d9;
}
.two{
	padding-top:5%;
	padding-bottom:5%;
	font-size:18px;
	float:right;
	color:	 #ff99cc;
}
.three{
	padding-top:5%;
	padding-bottom:5%;
		font-size:12px;
		margin-left:5%;
		color: #ff80bf;
}
.four{
	padding-top:5%;
	padding-bottom:5%;
	font-size:18px;
	float:right;
		margin-left:15%;
		color:	 #ff66b3;
}
.five{
	padding-top:5%;
	padding-bottom:5%;
		font-size:12px;
		margin-left:5%;
		color:#ff4da6;
}
.six{
	padding-top:5%;
	padding-bottom:5%;
	font-size:18px;
	float:right;
		margin-left:15%;
		color:#ff3399;
}
.seven{
	padding-top:5%;
	padding-bottom:5%;
	margin-left:5%;
		font-size:12px;
		color:#ff1a8c;
}
.eight{
	padding-top:5%;
	padding-bottom:5%;
	font-size:18px;
		float:right;
		margin-left:15%;
		color:#ff0080;
}
.nine{
	padding-top:5%;
	padding-bottom:5%;
		font-size:12px;
		margin-left:5%;
		color:#e60073;
}
.poem{
	background-color:black;
}
.right{
	margin-left:60%;
	margin-right:15%;


}
.left{
	margin-left:15%;
	margin-right:60%;
}