.title{
	margin-right:45%;
	margin-left:45%;
	padding-bottom:10%;
}


h1{
		margin-right:55%;
	margin-left:10%;
	-moz-transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
-o-transform:rotate(-25deg);
-ms-transform:rotate(-25deg);
transform: rotate(-25deg);
}

h2{
	margin-right:10%;
	margin-left:55%;
-moz-transform:rotate(25deg);
-webkit-transform:rotate(25deg);
-o-transform:rotate(25deg);
-ms-transform:rotate(25deg);
transform: rotate(25deg);

}
a{
	margin-left:60%;
	margin-right:15%;
	border-style: solid;
    border-width: 3px;
    float:right;
}