body{
background-color:lightpink;
}
.title{
	color:yellow;
	font-family:monospace;
	font-size:40px;
	text-align:center;
	  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}
.introduction{
	display: flex;
    width: 75%;
    height: 120px;
    background-color:yellow;
    margin-left:12%;

}
.intro-text{
	text-align:center;
	font-family:monospace:;
	font-size:15px;
	font-weight:3%;
}
.Activities{
	background-color: #ffff99;
	display: flex;
	font-family:monospace;
	 justify-content: space-between;
}
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

h2{
	text-align:center;
	font-family:monospace;
	font-size:20px;
}
.first{
	border:5px solid;
	padding-right:3%;
	flex:1;
}
.second{
	border:5px solid;
	padding-left:3%;
	padding-right:3%;
	flex:2;

}
.third{
	border:5px solid;
	padding-left:3%;
	flex:3;
}
.fourth{
	border:5px solid;
	padding-right:3%;
	flex:4;
}
.fifth{
	border:5px solid;
	padding-left:3%;
	padding-right:3%;
	flex:5;
}
.sixth{
	border:5px solid;
	padding-left:3%;
	flex:6;
}
.seventh{
	border:5px solid;
	padding-right:3%;
	flex:7;
}
.eigth{
	border:5px solid;
	padding-left:3%;
	padding-right:3%;
	flex:8;
}
.ninth{
	border:5px solid;
	padding-left:3%;
	flex:9;
}






